 body {
 background-image: url(https://images.steamusercontent.com/ugc/1816640252396894383/431673CE1767C85C84ED53EB9848F198CF5A3376/);
 font-family: 'Courier New', Courier, monospace;
 font-size: x-large;
}
 .box {
 background-image: url(https://images.steamusercontent.com/ugc/1816640252396894383/431673CE1767C85C84ED53EB9848F198CF5A3376/);
 display: flex;
 flex-wrap: wrap-reverse;
}
 .mask {
  width: 200px;
  height: 200px;
  transition: transform 0.2s ease;
}
 .mask:hover {
  transform: translateY(-8px);
}
 .bigmask {
 width: 150px;
 height: 150px;
 transition: transform 0.2s ease;
}
 .bigmask:hover {
  transform: translateY(-8px);
}
 .logo {
 width: 350px;
 height: auto;
 margin-left: 20px;
}
 .text {
 margin-top: 60px;
 margin-left: 20px;
 color: cyan;
 font-size: larger;
}
  .modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    
  }
  .modal-content {
    background: rgba(18, 247, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .close {
    cursor: pointer;
    color: red;
    float: right;
    font-weight: bold;
    font-size: 30px;
    align-self: flex-end;
  }
  .vid {
    width: 1000px;
    height: auto;
    border-radius: 10px;
    padding-top: 30px;
  }